body{
    max-width: 90%;
    background-color: red;
    margin: auto;
    
}

ul{
    list-style: none;
}

header{
    background-color:coral;
    box-shadow: 3px 3px 10px -5px;
    margin-bottom: opx;
}

nav{
    background-color: red;
    box-shadow: 2px 2px 10px -2px gray;
    max-width: 100%;
    min-width: 300px;
}

body{
    background-color: whitesmoke;
}


.recipe_list{
    display: flex;
    flex-direction: column;
}

.list_item{
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 1.3em
}

.list_item:hover{
    box-shadow: 5px 5px 5px 1px gray;
}

.form{
    padding: 3px;
    border: 1px gray solid;
    border-radius: 3px;
    box-shadow: 1px 1px 10px -2px gray;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.authForm-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50em;
 width: 100%;
}

.label-div{
    margin: 3px;
}

.input-div{
  margin: 3px;
}

.message{
    text-align: center;
    width: 45em;
  
}